* {
    box-sizing: border-box;
    background-color: lightgrey;

    /* gutters */
    gap: 2px;
}

h1 {
    text-align: center;
    font-size: 4ch;
    padding: 1%;
    margin: 1%;
    text-decoration: wavy;
    color: blue;
    background-color: rgb(205, 232, 104);

    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ELSH" 0;
}

/* after downloading webfont */
@font-face {
    font-family: "Shadows Into Light", cursive;
    /* path to webfont location */
    src: url(Shadows_Into_Light/);
}

h2 {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Shadows Into Light", cursive;
    padding: 1%;
    margin: auto;
    font-weight: bold;
    color: crimson;
    background-color: yellow;
}

p {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;

    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding: 0;
    color: black;
    grid-column: 2 / span 2;
}

.story-box {
    /* background-color: orange; */
    padding: 1%;
    margin: 2%;
    border: 1cap;
    border: blue 1px solid;
}

.logo {
    align-content: center;
    background-size: 100%;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    background-color: coral;
    height: 200px;
    width: 200px;
    margin: auto;
}
